@{ 
    string str_user_no = (Session["UserNo"] == null)?"":Session["UserNo"].ToString();
    string str_user_name = (Session["UserName"] == null)?"未登入":Session["UserName"].ToString();
    bool bln_login = (Session["IsLogin"] == null)?false:(bool)Session["IsLogin"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <script src="@Url.Content("~/Scripts/modernizr-2.8.3.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-3.6.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="~/Scripts/fontawesome/all.min.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand" href="#">我的應用程式</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">首頁</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            下拉功能
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">功能一</a></li>
                            <li><a class="dropdown-item" href="#">功能二</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">功能三</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">@str_user_no @str_user_name</a>
                    </li>
                    @if (bln_login)
                    {
                        <li class="nav-item ms-2">
                            <a class="nav-link" href="@Url.Action("Login","User")">登出</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ms-2">
                            <a class="nav-link" href="@Url.Action("Login","User")">登入</a>
                        </li>
                    }

                </ul>

                @*<form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">查詢</button>
                </form>*@
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
        </footer>
    </div>

    @RenderSection("bodyend", required: false)
</body>
</html>
